.mainPanelContainer {
    display: flex;
    flex-direction: column;
}

.fieldContainer {
    background-color: white;
    border-radius: 3px;
    padding: 2%;
    margin-block: 2px !important;
    font-weight: 500;
    word-wrap: break-word
}

.panelContainer {
    flex-grow: 1;
    overflow: auto;
    max-height: 480px;
}
text {
    margin-right: 2%;
}

.check {
    height: 20px;
    width: 20px;
}
.titleIssuerSection {
    font-size: large;
    font-weight: bold;
}
@media only screen and (max-width: 767px) {
    .panelContainer {
        flex-grow: 1;
        overflow: auto;
        max-height: 350px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .panelContainer {
        flex-grow: 1;
        overflow: auto;
        max-height: 250px;
    }
}