html body {
    margin: 0px;
    height: 100%;
}

h1 {
    font-size: 35pt;
    margin-left: 3%;
}
.container {
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centerContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    width: 100%;
}

.leftContainer {
    background-color: yellowgreen;
}

.rightContainer {
    background-color: bisque;
}

.mainWrap {
    display: flex;
    height: auto;
    max-height: 850px;
    flex-direction: row;
    width: 95% !important;
    border-radius: 6px;
    max-width: 1600px;
    justify-content: space-around;
    background-color: #f4f4f4;
    margin: auto;
    padding: 2%;
}

.mainTitleWrap {
    min-height: 30rem;
    height: auto;
        padding-bottom: 2%;
    justify-content: center;
    align-items: center;
    max-height: 900px;
    width: 100%;
    border-radius: 6px;
    max-width: 1600px;
    background-color: white;
}

.centerCardImage {
    height: auto;
    min-height: 10rem;
    width: 100%;
    max-width: 500px;
}
.downloadButtonContainer {
    justify-content: center;
    display: flex;
}
